.cursor-pointer {
  cursor: pointer;
}
.trashbtn {
  &:hover {
    border-radius: 5px;
    opacity: 0.9;
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0, 0.75, 0.20, 1);
  }
}
