<div class="card rounded shadow-sm p-3">
<form [formGroup]="form">
       <div class="p-3">
        <div class="mb-3">
            <label for="inputTema" class="form-label">Tema</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched}"
                   formControlName="tema" placeholder="Insira o Tema">
            <div *ngIf="f.tema.errors?.required" class="invalid-feedback">Tema é obrigatorio</div>
            <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">Tema deve ter no minimo 4 caracters</div>
            <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">Tema deve ter no maximo 128 caracters</div>
            
            
        </div>
        
        <div class="row mb-3">
            <div class="col-md-8">
                <label for="inputLocal" class="form-label">Local</label>
                <input type="text" class="form-control "[ngClass]="{'is-invalid': f.local.errors && f.local.touched}"  formControlName="local" placeholder="">
                <div *ngIf="f.local.errors?.required" class="invalid-feedback">Local é obrigatório</div>
                
            </div>
            <div class="col-md-4">
                <label for="inputDataHora" class="form-label">Data e Hora</label>
                <input type="datetime" class="form-control "[ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched}"  formControlName="dataEvento" placeholder="">
                <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
                    Data e Hora é obrigatório
                </div>
            </div>
        </div>
       <div class="row mb-3">
    <div class="col-md-2">
        <label for="inputQtdPessoas" class="form-label">Qtd Pessoas</label>
        <input type="number" min='4' class="form-control " [ngClass]="{'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched}" formControlName="qtdPessoas" placeholder="">
        <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback"> Qtd Pessoas é obrigatório</div>
        <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback"> Quantidade Pessoas maxima é 120000 </div>
        <div *ngIf="f.qtdPessoas.errors?.min" class="invalid-feedback"> Quantidade Pessoas minima é 4 </div>
    </div>
    <div class="col-md-2">
        <label for="inputTelefone" class="form-label">Telefone</label>
        <input type="tel" class="form-control " [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}" formControlName="telefone" placeholder="(000) 90000-0000">
        <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório
        </div>
    </div>
    <div class="col-md-4">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="text" class="form-control " [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" formControlName="email" placeholder="e-mail">
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            Email é obrigatório
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Email Invalido
        </div>
        <div *ngIf="f.email.errors?.minlength" class="invalid-feedback">email deve ter no minimo 4 caracters</div>
        <div *ngIf="f.email.errors?.maxlength" class="invalid-feedback">email deve ter no maximo 128 caracters</div>
    </div>
    <div class="col-md-4">
        <label for="inputImagem" class="form-label">Imagem</label>
        <input type="text" class="form-control " [ngClass]="{'is-invalid': f.imagemURL.errors && f.imagemURL.touched}" formControlName="imagemURL" placeholder="Imagem">
        <div *ngIf="f.imagemURL.errors?.required" class="invalid-feedback">
            Imagem é obrigatório
        </div>
    </div>
</div>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <button class="btn btn-outline-secondary me-auto " (click)="resetForm()">Cancelar Alteração</button>
            <button class="btn btn-success" [disabled]="!form.valid">
                <!-- <span class="spinner-border spinner-border-sm me-2"></span> -->
                Salvar Evento
            </button>
        </div>
    </div>
</form>
</div>